<?xml version="1.0" encoding="utf-8"?>
<AppSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <NeedUpgrade>false</NeedUpgrade>
  <LastOpened>C:\Users\John\Desktop\desktop\DeOps\Global IM - swax\Global IM - swax.dop</LastOpened>
  <MonoHelp>false</MonoHelp>
  <SettingsPath>C:\Users\Brendan\Desktop\CodePerspective\demoB\app.xml</SettingsPath>
</AppSettings>